/* Common Shared styles */
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #3d3bbb;
}
.btn-primary{
    border-radius: 5px;
    background: #3d3bbb;
    border: 0;
    padding: 18px 35px;
    color: var(--White-Color, #FFF);
font-size: 20px;
font-style: normal;
font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: var(--Dark-01, #181818);

font-size: 45px;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header Style */
.header{
background-color: #e6e5f1;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-content: center;
}
.banner .img{
    width: 500px;
}